.watchlist-sidebar {
    width: 400px;
    height: max-content;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    max-height: 90vh; 
    overflow-y: auto; 
  }
  
  .stock-add {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .stock-input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .stocks-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .stock-item {
    display: flex;
    justify-content: space-between;
    padding: 7px 5px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    align-items: center;
    padding-left: 10px;
  }

  .stock-info {
    display: flex;
    flex-direction: column;
  }
  
  .stock-symbol {
    font-size: 15px;
    font-weight: bold;
    font-size: 14px;
  }
  
  .stock-price {
    font-size: 13px;
    color: #666;
  }
  
  .remove-btn {
    visibility: hidden;
    opacity: 0; 
    padding: 4px 4px;
    background-color: white;
    border: none;
    cursor: pointer;
    margin-top: 0px !important;
    margin-right: 10px;
    font-size: 12px;
    transition: opacity 0.3s ease, visibility 0.3s ease; 
  }
  
  .stock-item:hover .remove-btn {
    visibility: visible;
    opacity: 1; 
  }
  
  .trash-icon {
    color: red; 
    border: 2px solid red; 
    border-radius: 50%;
    background-color: transparent; 
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; 
  }
  
  .trash-icon:hover {
    background-color: #ffe5e5; 
    transform: scale(1.1); 
  } 
  
    .suggestion-item {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e0e0e0;
  }
  
  .suggestion-item:hover {
    background-color: #f1f1f1;
  }

  .stockExchange{
    padding:4px;
    margin-left: 80%;
    font-size: 13px;
  }

  .stockSuggestionSymbol{
    font-size: 13px;
    /* color: #8d8f8c; */
  }

  @media (max-width: 421px) {
    .watchlist-sidebar {
      width: 300px;}

      .stockExchange{
        margin-left: 70%;
      }

  }