
.addbtn ,.removebtn{
    margin-top:0px !important;
}
.watchlist-container {
    max-width: 600px;
    margin: 0 auto;
    background: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

h2 {
    text-align: center;
    font-weight: bold;
    color: #007bff;
}

.search-bar {
    margin-bottom: 20px;
}

.suggestions-list {
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
}

.watchlist {
    margin-top: 20px;
}

.watchlist-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    margin-left: 10px;
    padding: 3px 7px;
}

button:hover {
    background-color: #ff4d4d;
    color: white;
}
