.stock-watchlist-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-top:10px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;

}

.title {
    text-align: center;
    color: #333;
}

.input-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stock-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.add-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #218838;
}

.watchlist-section {
    margin-top: 20px;
}

.subtitle {
    text-align: center;
    color: #555;
}

.watchlist {
    list-style-type: none;
    padding: 0;
}

.watchlist-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #fff;
}

.remove-btn{
    margin:0 10px;
    background-color: red;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stock-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.stock-info h4 {
    margin: 0;
    font-size: 18px;
}

.price {
    font-size: 18px;
    color: #007bff;
}

.loading {
    font-size: 16px;
    color: #999;
}

@media (max-width: 768px) {
    .input-section {
        flex-direction: column;
        align-items: center;
    }

    .stock-input {
        width: 100%;
        margin-bottom: 10px;
    }

    .add-button {
        width: 100%;
    }

    .watchlist-item {
        flex-direction: column;
        text-align: center;
    }
}
